nav {
  max-width: 1100px !important;
  margin: 0 auto !important;
  margin-bottom: 15px !important;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 26px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(138, 57, 57, 0.05);
}

nav {
  background-color: rgb(13 110 253 / 17%) !important;
}