<div class="side-bar">
    <h3>Social</h3>
    <div class="icons">
        <br>
        <a href="{{urls.linkedIn}}" target="_blank" rel="noopener noreferrer" class="fa fa-linkedin" aria-hidden="true"></a>
        <a href="{{urls.github}}" target="_blank" rel="noopener noreferrer" class="fa fa-github" aria-hidden="true"></a>
        <a href="{{urls.stackOverFlow}}" target="_blank" rel="noopener noreferrer" class="fa fa-stack-overflow" aria-hidden="true"></a>
        <a href="{{urls.linkedIn}}" target="_blank" rel="noopener noreferrer"class="fa fa-envelope" aria-hidden="true"></a>
    </div>
</div>