<h3>Social</h3>
<br>
<a href="{{urls.linkedIn}}" target="_blank" rel="noopener noreferrer" aria-hidden="true">
    <i class="fa fa-linkedin"></i>
</a>
<a href="{{urls.github}}" target="_blank" rel="noopener noreferrer" aria-hidden="true">
    <i class="fa fa-github"></i>
</a>
<a href="{{urls.linkedIn}}" target="_blank" rel="noopener noreferrer" aria-hidden="true">
    <i class="fa fa-envelope"></i>
    <!-- <a href="{{urls.stackOverFlow}}" target="_blank" rel="noopener noreferrer" aria-hidden="true"> -->
    <!-- <i class="fa fa-stack-overflow"></i> -->
    <a href="https://stackoverflow.com/users/20238966/georgi-petrov">
        <img src="https://stackoverflow.com/users/flair/20238966.png" width="208" height="58"
            alt="profile for Georgi Petrov at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
            title="profile for Georgi Petrov at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
</a>