<h1>Posts</h1>
<hr>
<p *ngIf="isEmptyCollection"><em>There are not posts!</em></p>
<div *ngFor="let post of posts" class="posts">
    <div class="card col-sm-10 post">
      <img src="{{post.mainImageUrl}}" class="card-img-top img" alt="...">
      <div class="card-body">
        <h5  class="card-title d-inline m-2">{{post.title}}</h5>
        <div>
          <mat-icon>edit</mat-icon>
          <span>{{post.createdOn | date}}</span>
          <span class="m-1">|</span>
          <mat-icon>person</mat-icon>
          <span>{{post.author.userName}}</span>
          <a class="btn" routerLink='/detail/{{post.id}}'>Details</a>
        </div>
      </div>
    </div>
    <hr/>
</div>