.upload-images {
    width: 20rem;
    border: none;
    border-radius: 10px;
    margin: 5px;
}

.upload-images:active {
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 0.5s 0.4s ease-out;
    width: 50rem;
}

.custom-file-upload {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 6px 12px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.warning {
    color: red;
    font-style: italic;
}

.file-upload {
    margin: 5px;
    border-left:solid rgb(0 0 0 / 34%) 2px
}

.select-main-image {
    cursor: pointer;
    position: absolute;
}

.select-main-image button {
    border: none;
    background-color: #9cb9d6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #3f70a2;
    font-size: 15px;
}

.selected {
    color: red;
}

.upload-button {
    color: green;
}

.main-image {
    position: inherit;
    width: 90%;
    display: block;
    border-radius: 5%;
    box-shadow: 8px 3px 14px rgb(13 110 253 / 76%);
}

.back-btn {
    top:50%;
    background-color:hsl(142, 6%, 26%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    border:none; 
    border-radius:15px; 
    margin-top: 20px;
    width: 6rem;
  }